
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Suceed</title>
</head>
<body>
    <div style="margin-left:40%;margin-top:10%"> 
        @Html.ActionLink("预约成功！您的预约号为：XSD4389579645   点击返回主页","Index","Home")
    </div>
</body>
</html>
